*.swp
*~
.DS_Store
.netrwhist
/tmux/*
/vim/backup/*
/vim/autoload/*
/vim/plugged/*
/vim/fzf-history
/vim/swap/*
/vim/undo/*
!/tmux/after_2.1.conf
!/tmux/before_2.0.conf
!/tmux/plugins/tpm
!/vim/backup/.keep
!/vim/dein/repos/github.com/Shougo/dein.vim
!/vim/swap/.keep
!/vim/undo/.keep
